*{
    margin: 0;
}
body{
    font-family: 'Alkatra', cursive;
    color: #ffffff;
    background-color: #353535;
    .espacio{
        height: 45px;
    }
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #00ffdd;
    border-radius: 5px;
}
h2{
    color: #00ffdd;
    font-size: 30px;
    padding: 15px 50px;
}
p{    
    line-height: 20px;
}
header{
    background-color: #00ffdd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    position: sticky;
    padding: 0px 15px;    
    border-radius: 0 0 0 9px;
    .logo{
        font-size: 25px;
    }    
    .navegador{
        text-align: right;
    } 
    & a{
        color: #000000;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        padding: 0 18px;
        border-radius: 5px;
        background-color: #00ffdd;
    }
    & a:hover{
        color: #ffffff;
        background-color: #00806e;
    }   
}
#inicio{   
    padding-bottom: 50px; 
    background-image: url(../img/rendermonknightPortafolio.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    .inicioPared{
        margin: 0 auto;
        width: 450px;
        background-color: #2222224f;
        border-radius: 0 0 20px 20px;  
        text-align: center;
        .inicioHola{
            padding: 50px 0 0 50px;
            font-size: 30px;
            text-align: left;
        }
        .inicioImg{
            width: 80%;
            border-radius: 50%;
            border: 8px solid #00806e;
        }
        .inicioNombre{
            font-size: 65px;
            line-height: 65px;
            padding: 20px 0;
        }
        .inicioP{
            font-size: 25px;
            line-height: 30px;
            padding-bottom: 10px;
        }
    }
}
.contenidoPortafolio{
    #desplegarPortafolio{
        text-align: center;
        font-size: 50px;
        color: #ffffff;
    }
    #portafolioContenido{
        margin: 10px;
        columns: 400px 2;
        padding-bottom: 25px;
        text-align: center;
        #omegaUp{
            text-decoration: none;
            #omegaUpTitle{
                font-size: 25px;
                color: #1556a1;
            }
            & img{
                width: 80%;
            }
            #omegaUptxt{
                color: #ffffff;
                margin: 0 auto;
                width: 80%;
                font-size: 18px;
                padding-bottom: 20px;
                & b{
                    font-size: 19px;
                    color: #1556a1;
                }
            }
        }
        #sistemasDigitales{
            text-decoration: none;
            #sistemasDigtalesTitle{
                font-size: 25px;
                color: #00e7b9;
            }
            & img{
                width: 80%;
            }
            #sistemasDigitalestxt{
                color: #ffffff;
                margin: 0 auto;
                width: 80%;
                font-size: 18px;
            }
            & b{
                font-size: 19px;
                color: #00e7b9;
            }
        }
    }
    #imageRender{
        background-color: #111111;
        padding-bottom: 8px;
        #imageRenderTitle{
            font-size: 25px;
            text-align: center;
            color: #00e7b9;
        }
        #imageRendertxt{
            width: 95%;
            margin: 0 auto;
            font-size: 17px;
            text-align: center;
            color: #ffffff;
        }
        .imageRenderFlex{
            margin: 0 auto;
            padding: 5px;
            width: 97%;
            height: auto;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            gap: 6px;
            & img{
                flex-basis: 100px;
                flex-grow: 1;
                border-radius: 8px;
                width: 400px;
                height: 400px;
                object-fit: cover;
                object-position: top;
                box-shadow: 0px 0px 12px #000000;
            }
        }
    }
}
.contenidoSobreMiPotafolio{
    background-color: #000000;
    padding-bottom: 10px;
    & h2{
        color: #00ffb3;
        padding-bottom: 1px;
    }
    #contenidoSobreMi{
        columns: 400px 2;
        width: 95%;
        margin: 0 auto;
        #textSobreMi{
            color: #ffffff;
            .inicioParrafo{
                font-weight: bold;
                color: #5effea;
            }
        }
    }
    .objetivo{
        background-color: #1a1e1f;
        width: 96%;
        margin: 0 auto;
        padding: 13px;
        border-radius: 15px 15px 0 0;
        columns: 400px 2;
        color: #000000;
        & h3{
            text-align: center;
            column-span: all;
            color: #00e7b9;
        }
        #juego{
            color: #c6ecff;
        }
        #inglesA{
            color: #7bffff;
            & h4{
                padding-top: 15px;
            }
        }
        #cortoA{
            color: #67ffe1;
            & h4{
                padding-top: 15px;
            }
        }
    }
    .metas{
        background-color: #0f0f10;
        width: 96%;
        margin: 0 auto;
        padding: 13px;
        border-radius: 0 0 15px 15px;
        columns: 400px 2;
        color: #000000;
        & h3{
            text-align: center;
            column-span: all;
            color: #aaffef;
        }
        #animacionEfectos{
            color: #00ffdd;
        }
        #trabajarEmpresa{
            color: #00ffb3;
            & h4{
                padding-top: 15px;
            }
        }
        .metastxt{
            padding-top: 11px;
            color: #ffffff;
        }
    }
}
.contenidHabilidades{
    width: 97%;
    padding-bottom: 8px;
    margin: 0 auto;
    border-left: 5px solid #00ffcc;
    border-top: 5px solid #00ffcc;
    border-radius: 8px;
    background-color: #222222;    
    .habilidad{
        display: flex;
        width: 90%;
        margin: 0 auto;
        border-radius: 8px;
        background-color: #111111;
        text-align: center;
        & h3{
            font-size: 22px;
            padding: 10px;
        }
        .barraProgramacion{
            width: 50%;
        }
        .barraBlender{
            width: 50%;
        }
        .barraText{
            text-align: left;
            font-size: 17px;
            margin-left: 10%;
            & span{
                color: #00ffdd;
            }
        }
        & progress{
            width: 95%;
            accent-color: #00ffcc;
        }
        & progress[value]{
            height: 30px;
        }
    }
}
.contactos{
    text-align: center;
    border-radius: 0 30px 0 0;
    background: linear-gradient( #111111 0, #000000 60%);
    padding-bottom: 10px;
    #bottonWhatsApp{
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        background-color: #09b347;
        color: #ffffff;
        border: 3px solid #ffffff;
        border-radius: 7px;
        padding: 0 11px;
    }
    #bottonWhatsApp:hover{
        background-color: #00ff5e;
        color: #000000;
    }
    .formularioContacto label{
        display: block;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    .formularioContacto input[type="text"], input[type="email"], textarea{        
        font-family: 'Alkatra', cursive;
        font-size: 20px;
        width: 78%;
        padding: 5px;
        border: 5px solid #999999;
        border-radius: 5px;
        text-align: center;
    }
    .formularioContacto textarea{
        resize: vertical;
    }
    .formularioContacto button{
        font-family: 'Alkatra', cursive;
        display: block;
        width: 400px;
        padding: 10px;
        margin: 30px auto;
        font-size: 25px;
        font-weight: bold;
        background-color: #00ffdd;
        color: #000000;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    .formularioContacto button:hover{
        background-color: #00806e;
        color: #ffffff;
    }
}
footer{
    background-color: #000000;
    text-align: right;
    & p{
        padding: 30px;
        font-size: 18px;
    }
}