@keyframes nombreAnimado{
    0%{
        letter-spacing: 25px;
        opacity: 1;
        text-shadow: 36px 32px var(--colorSecundario), -36px -32px var(--hover);
    }
    60%{
        opacity: 0.6;
    }
    100%{
        letter-spacing: normal;
        opacity: 1;        
        text-shadow: 6px 2px var(--colorSecundario), -6px -2px var(--hover);
    }    
}
*{
    padding: 0;
    margin: 0;
}
:root[data-theme="light"]{
    --colorPrincipal: #008573;
    --colorSecundario: #ffa500;
    --hover: #00ffdd;
    --background: #ffffff;
    --background1: #eee;    
    --background2: #ddd; 
    --background3: #ccc;    
    --backgroundObj: #e9faff;
    --backgroundMet: #efefff;
    --colorText: #000000;
    --bordeContacto: #333;
    --objTitle: #008167;
    --obj1: #005a87;
    --obj2: #007575;
    --obj3: #007860;
    --metTitle: #00876e;
    --met1: #007a6a;
    --met2: #00553b;    
    --met3: #006597;
    --textB: #009480;
    --textSub: #00be85;
    --omegaUp: #1556a1;
    --transparet: #cccccc4f;
    --colorCO: #fff;
    --colorActive: #ffa500;
}
:root[data-theme="dark"]{
    --colorPrincipal: #00ffdd;
    --colorSecundario: #ffa500;
    --hover: #00806e;
    --background: #000;
    --background1: #111;    
    --background2: #222; 
    --background3: #333;    
    --backgroundObj: #1a1e1f;
    --backgroundMet: #0f0f10;
    --colorText: #fff;
    --bordeContacto: #999;
    --objTitle: #00e7b9;
    --obj1: #c6ecff;
    --obj2: #7bffff;
    --obj3: #67ffe1;
    --metTitle: #aaffef;
    --met1: #00ffdd;
    --met2: #00ffb3;    
    --met3: #c6ecff;
    --textB: #5effea;
    --textSub: #00ffb3;
    --omegaUp: #1556a1;
    --transparet: #2222224f;
    --colorCO: #555;
    --colorActive: #ffffff;
}
body{
    font-family: 'Alkatra', cursive;
    color: var(--colorText);
    background-color: var(--background3);
    .espacio{
        height: 45px;
    }
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--colorPrincipal);
    border-radius: 5px;
}
h2{
    color: var(--colorPrincipal);
    font-size: 30px;
    padding: 15px 50px;
}
p{    
    line-height: 20px;
}
header{
    position: fixed;
    background-color: var(--colorPrincipal);
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        font-size: 25px;
    }    
    .navegador{
        text-align: right;
        @media (max-width: 850px){
            display: none;
        }
    } 
    & a{
        color: var(--background);
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        padding: 0 18px;
        border-radius: 5px;
        background-color: var(--colorPrincipal);
    }
    & a:hover{
        color: var(--colorText);
        background-color: var(--hover);
    }  
    .inputStyle{
        display: flex;
        align-items: center;
        .clarOscuro{
            width: 40px;
            height: 20px;
            background-color: var(--colorCO);
            margin: 0 auto;
            padding: 5px 10px;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: relative;
        } 
        .temaCheck{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
            cursor: pointer;
            opacity: 0;
            align-items: center;
        }
        .temaOpcion{
            position: absolute;
            top: 5px;
            left: 5px;
            width: 20px;
            height: 20px;
            background-color: var(--colorActive);
            border-radius: 50%;
            transition: left 0.5;
        }
    }
    .temaCheck:checked ~ .temaOpcion{
        left: 35px;
    }
    .menuDespegable{
        & label{
            cursor: pointer;
            .hamburger{
                width: 41px;
                height: 41px;
                justify-content: center;
                background-color: var(--colorPrincipal);
                border-radius: 80% 20% 70% 30% / 30% 20% 80% 70%;
                transition: background-color 2s;
                .lineArriba{
                    top: 7.8px;
                    margin-left: 5px;
                    position: absolute;
                    width: 30px;
                    height: 4px;
                    border-radius: 2px;
                    background-color: var(--background);
                    transition: background-color 1s;
                }
                .lineHaburger{
                    top: 19px;
                    margin-left: 7px;
                    position: absolute;
                    width: 25px;
                    height: 4px;
                    border-radius: 2px;
                    background-color: var(--background);
                    transition: background-color 1s;
                }
                .lineAbajo{
                    top: 30px;
                    margin-left: 9px;
                    position: absolute;
                    width: 20px;
                    height: 4px;
                    border-radius: 2px;
                    background-color: var(--background);
                    transition: background-color 1s;
                }
            }
        }
        & input{
            display: none;
        }
        .menuApareceDesaparece{
            position: fixed;
            top: 42px;
            right: -250px;
            width: 200px;
            text-align: center;
            background-color: var(--colorPrincipal);
            transition: right 2s;
            border-bottom-left-radius: 25px;
            & ul{
                & li{
                    margin: 13px 0;
                    list-style: none;
                    & a{
                        font-size: 23px;
                    }
                }
            }
        }
        & label:hover{        
            .hamburger{
                background-color: var(--background);
                .lineArriba{
                    background-color: var(--colorPrincipal);
                }
                .lineHaburger{
                    background-color: var(--colorPrincipal);
                }
                .lineAbajo{
                    background-color: var(--colorPrincipal);
                }
            }
        }
        & input:checked ~ label{   
            .hamburger{
                background-color: #000;
                .lineArriba{
                    background-color: var(--colorPrincipal);
                }
                .lineHaburger{
                    background-color: var(--colorPrincipal);
                }
                .lineAbajo{
                    background-color: var(--colorPrincipal);
                }
            }
        }
        & input:checked ~ .menuApareceDesaparece{
            right: 0;
        }
        @media (min-width: 850px){
            display: none;
        }
    }
}
#inicio{   
    padding-bottom: 50px; 
    background-image: url(../img/rendermonknightPortafolio.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    .inicioPared{
        margin: 0 auto;
        width: 450px;
        background-color: var(--transparet);
        border-radius: 0 0 20px 20px;  
        text-align: center;
        .inicioHola{
            padding: 50px 0 0 50px;
            font-size: 30px;
            text-align: left;
        }
        .inicioImg{
            width: 80%;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            border: 8px solid var(--hover);
            transition: border-radius 3s;
        }
        .inicioImg:hover{
            border-radius: 64% 36% 25% 75% / 50% 66% 34% 50%;
        }
        .inicioNombre{
            font-size: 65px;
            line-height: 65px;
            padding: 20px 0;
            text-shadow: 6px 2px var(--colorSecundario), -6px -2px var(--hover);
            animation: nombreAnimado 3s ease-in;
        }
        .inicioP{
            font-size: 25px;
            line-height: 30px;
            padding-bottom: 10px;
        }
    }
}
.contenidoPortafolio{
    #desplegarPortafolio{
        text-align: center;
        font-size: 50px;
        color: var(--colorText);
    }
    #portafolioContenido{
        margin: 10px;
        columns: 400px 2;
        padding-bottom: 25px;
        text-align: center;
        #omegaUp{
            text-decoration: none;
            #omegaUpTitle{
                font-size: 25px;
                color: var(--omegaUp);
            }
            & img{
                width: 80%;
            }
            #omegaUptxt{
                color: var(--colorText);
                margin: 0 auto;
                width: 80%;
                font-size: 18px;
                padding-bottom: 130px;
                & b{
                    font-size: 19px;
                    color: var(--omegaUp);
                }
            }
        }
        #sistemasDigitales{
            text-decoration: none;
            #sistemasDigtalesTitle{
                font-size: 25px;
                color: var(--objTitle);
            }
            & img{
                width: 80%;
            }
            #sistemasDigitalestxt{
                color: var(--colorText);
                margin: 0 auto;
                width: 80%;
                font-size: 18px;
            }
            & b{
                font-size: 19px;
                color: var(--objTitle);
            }
        }
    }
    #imageRender{
        background-color: var(--background1);
        padding-bottom: 8px;
        #imageRenderTitle{
            font-size: 25px;
            text-align: center;
            color: var(--objTitle);
        }
        #imageRendertxt{
            width: 95%;
            margin: 0 auto;
            font-size: 17px;
            text-align: center;
            color: var(--colorText);
        }
        .imageRenderFlex{
            padding: 30px;
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "n1 n2 n3 n4"
            "n5 n5 n6 n6"
            "n7 n7 n7 n7"
            ;
            gap: 10px;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                transition: transform 3s;
            }
            & img:hover{
                transform: scale(1.05);
            }
        }
        .imagen1{
            grid-area: n1;
        }
        .imagen2{
            grid-area: n2;
        }        
        .imagen3{
            grid-area: n3;
        }
        .imagen4{
            grid-area: n4;
        }
        .imagen5{
            grid-area: n5;
        }
        .imagen6{
            grid-area: n6;
        }
        .imagen7{
            grid-area: n7;
        }
    }
}
#sobre-mi{
    background-color: var(--background);
}
.contenidoSobreMiPotafolio{
    background-color: var(--background);
    padding-bottom: 10px;
    & h2{
        color: var(--textSub);
        padding-bottom: 1px;
    }
    #contenidoSobreMi{
        columns: 400px 2;
        width: 95%;
        margin: 0 auto;
        #textSobreMi{
            color: var(--colorText);
            .inicioParrafo{
                font-weight: bold;
                color: var(--textB);
            }
        }
    }
    .objetivo{
        background-color: var(--backgroundObj);
        width: 92%;
        margin: 0 auto;
        padding: 13px;
        border-radius: 15px 15px 0 0;
        columns: 400px 2;
        color: var(--background);
        & h3{
            text-align: center;
            column-span: all;
            color: var(--objTitle);
        }
        #juego{
            color: var(--obj1);
        }
        #inglesA{
            color: var(--obj2);
            & h4{
                padding-top: 15px;
            }
        }
        #cortoA{
            color: var(--obj3);
            & h4{
                padding-top: 15px;
            }
        }
    }
    .metas{
        background-color: var(--backgroundMet);
        width: 92%;
        margin: 0 auto;
        padding: 13px;
        border-radius: 0 0 15px 15px;
        columns: 400px 2;
        color: var(--background);
        & h3{
            text-align: center;
            column-span: all;
            color: var(--metTitle);
        }
        #animacionEfectos{
            color: var(--met1);
        }
        #trabajarEmpresa{
            color: var(--met2);
            & h4{
                padding-top: 15px;
            }
        }
        .metastxt{
            padding-top: 11px;
            color: var(--met3);
        }
    }
}
.contenidHabilidades{
    width: 97%;
    padding-bottom: 8px;
    margin: 0 auto;
    border-left: 5px solid var(--colorPrincipal);
    border-top: 5px solid var(--colorPrincipal);
    border-radius: 8px;
    background-color: var(--background2);
    .habilidad{
        display: flex;
        width: 90%;
        margin: 0 auto;
        border-radius: 8px;
        background-color: var(--background1);
        text-align: center;
        & h3{
            font-size: 22px;
            padding: 10px;
        }
        .barraProgramacion{
            width: 50%;
        }
        .barraBlender{
            width: 50%;
        }
        .barraText{
            text-align: left;
            font-size: 17px;
            margin-left: 10%;
            & span{
                color: var(--colorPrincipal);
            }
        }
        .barraText::first-letter{
            color: var(--colorPrincipal);
            font-weight: bold;
        }
        & progress{
            width: 95%;
            accent-color: var(--colorPrincipal);
        }
        & progress[value]{
            height: 30px;
        }
    }
}
.contactos{
    border-top: 7px solid var(--colorPrincipal);
    text-align: center;
    border-radius: 0 30px 0 0;
    background: linear-gradient( var(--background1) 0, var(--background) 60%);
    padding-bottom: 10px;
    #bottonWhatsApp{
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        background-color: #09b347;
        color: #fff;
        border: 3px solid var(--colorText);
        border-radius: 7px;
        padding: 0 11px;
    }
    #bottonWhatsApp:hover{
        background-color: #00ff5e;
        color: var(--background);
    }
    .formularioContacto label{
        display: block;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    & label::first-letter{
        color: var(--colorPrincipal)
    }
    .formularioContacto input[type="text"], input[type="email"], textarea{        
        font-family: 'Alkatra', cursive;
        font-size: 20px;
        width: 78%;
        padding: 5px;
        border: 5px solid var(--bordeContacto);
        border-radius: 5px;
        text-align: center;
    }
    .formularioContacto input[type="text"]{
        text-transform: capitalize;
    }
    .formularioContacto button{
        font-family: 'Alkatra', cursive;
        display: block;
        width: 400px;
        padding: 10px;
        margin: 30px auto;
        font-size: 25px;
        font-weight: bold;
        background-color: var(--colorPrincipal);
        color: var(--background);
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    .formularioContacto button:hover{
        background-color: var(--hover);
        color: var(--colorText);
    }
}
footer{
    background-color: var(--background);
    text-align: right;
    & p{
        padding: 30px;
        font-size: 18px;
        & b{
            color: var(--colorPrincipal);
        }
    }
    & p::first-letter{
        font-weight: bold;
        color: var(--colorPrincipal);
    }
}